.pokedex-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    

}

.pokedex-grid{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3,1fr);
    margin: 0px 20px;
    
}

.pokedex-grid-item{
    height: 110px;
}

.pokedex-grid-item:hover{
    transform: scale(1.04);
    cursor: pointer;
}



.loading-container{
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
}