.pokedex-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    

}

.pokedex-grid{
    display: grid;
    gap: 10px 14px;
    grid-template-columns: repeat(3,1fr);
    margin: 0px 20px;
    
}

.pokedex-grid-item{
    height: 110px;
    transition: 0.25s;
}

.pokedex-grid-item:hover{
    border-radius: 10px;
    border: 4px outset rgb(236, 225, 225);
    transition: 0.25s;
    transform: scale(1.04);
    cursor: pointer;
    box-shadow:  0px 24px 15px rgba(0, 0, 0, 0.7);
}



.loading-container{
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
}